
<html>
<head >
    <link rel="stylesheet" href="../style/index.css">
</head>
<body onload="getfun()">

<div>
    <input id="search" placeholder="Enter the name here" style="margin-left: 20px;width: 250px;">
    <button id="searchBtn" onclick="searchFun()" style="float: right;margin-right: 20px;height: 25px;">Search</button>
</div>

<table id="table">
    <tr>
        <th>
            <p>Name</p>
        </th>
        <th>
            <p>Age</p>
        </th>
        <th>
            <p> Email Id</p>
        </th>
        <th>
            <p>Address</p>
        </th>
        <th>
            <p>mobile</p>
        </th>
        <th>

        </th>
    </tr>

</table>

<script src="../js/infoPage.js"></script>
</body>
</html>